<h1>patlog</h1>
<p>
   A website for logging PAT tests / inspections
</p>
<ul>
  <li>
    <strong>Status:</strong> Private testing
  </li>
  <li>
    <strong>Want to test?</strong>
    <a href="https://chobble.com/contact/">Contact me</a>
  </li>
  <li>
    <strong>Source code:</strong>
    <a href="https://git.chobble.com/choble/pat-logger">Here</a> (AGPLv3)
  </li>
</ul>

<hr>

<%= form_with(scope: :session, url: login_path) do |form| %>
  <header><h2>Log in</h2></header>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :remember_me do %>
    <%= form.check_box :remember_me %>
    Remember Me
  <% end %>

  <div style="
    display: flex;
    justify-content: space-between;
  ">
    <%= form.submit "Log in" %>

    <%= link_to signup_path do %>
      <strong>Sign up</strong>
    <% end %>
  </div>
<% end %>
