<%= form_with(scope: :session, url: login_path) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :remember_me do %>
    <%= form.check_box :remember_me %>
    Remember Me
  <% end %>

  <%= form.submit "Login" %>
<% end %>

<footer>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</footer>
