<p>
  <strong>patlog</strong> is a website for logging PAT tests
</p>
<p>
  <strong>status:</strong> beta testing
</p>

<%= form_with(scope: :session, url: login_path) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :remember_me do %>
    <%= form.check_box :remember_me %>
    Remember Me
  <% end %>

  <div style="
    display: flex;
    justify-content: space-between;
  ">
    <%= form.submit "Login" %>

    <%= link_to signup_path do %>
      <strong>Sign Up</strong>
    <% end %>
  </div>
<% end %>
