<article class="users">
  <header><h1>Users</h1></header>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Admin</th>
        <th>Inspections</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, edit_user_path(user) %></td>
          <td><%= user.admin? ? "Yes" : "No" %></td>
          <td><%= user.inspections.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Total images: <%= link_to @total_images, images_all_path %></p>
  <p>Orphaned images: <%= link_to @orphaned_images, images_orphaned_path %></p>
</article>
