<h2>PAT Inspection Records</h2>

<%= render 'search_form' %>

<div class="inspections-container">
  <% if @inspections.any? %>
    <table class="inspections-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Serial/Asset</th>
          <th>Description</th>
          <th>Location</th>
          <th>Last Inspection</th>
          <th>Next Due</th>
          <th>Result</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @inspections.each do |inspection| %>
          <tr>
            <td class="thumbnail-cell">
              <% if inspection.image.attached? %>
                <%= link_to inspection_path(inspection) do %>
                  <%= image_tag url_for(inspection.image.variant(resize_to_limit: [64, 64])), class: 'thumbnail' %>
                <% end %>
              <% else %>
                <div class="no-image">No image</div>
              <% end %>
            </td>
            <td><%= inspection.serial %></td>
            <td><%= inspection.description %></td>
            <td><%= inspection.location %></td>
            <td><%= inspection.inspection_date&.strftime('%d/%m/%Y') %></td>
            <td><%= inspection.reinspection_date&.strftime('%d/%m/%Y') %></td>
            <td class="<%= inspection.passed ? 'pass' : 'fail' %>">
              <%= inspection.passed ? 'PASS' : 'FAIL' %>
            </td>
            <td class="actions">
              <%= link_to "View", inspection_path(inspection), class: 'action-link view' %>
              <%= link_to "Edit", edit_inspection_path(inspection), class: 'action-link edit' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="no-inspections">
      <p>No inspection records found.</p>
    </div>
  <% end %>
</div>

<div class="actions-container">
  <% if current_user.can_create_inspection? %>
    <%= link_to "New Inspection", new_inspection_path, class: 'button new' %>
  <% end %>
</div>

<%= render 'inspection_stats' %>
