<!DOCTYPE html>
<html>
  <head>
    <title>PAT Inspection Logger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "mvp" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <% if current_user %>
          <li>
            <%= link_to new_inspection_path do %>
              <strong>New</strong>
            <% end %>
          </li>
          <li>
            <%= link_to inspections_path do %>
              <strong>List</strong>
            <% end %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to users_path do %>
                <strong>Users</strong>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= button_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path  do %>
              <strong>Log In</strong>
            <% end %>
          </li>
          <li>
            <%= link_to signup_path  do %>
              <strong>Sign Up</strong>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <main>
      <% flash.each do |type, message| %>
        <article><aside><%= message %></aside></article>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
